html {
  background-image: url("../images/bg.png");
  background-position: center top;
  background-size: 100%;
  font-size: 10px;
  font-family: 'OpenSansLight', sans-serif;
}

.ws {
  white-space:pre; /* or pre-wrap if you want wrapping to still work.*/
}

body {
  width: 74%;
  height: 74%;
  background-color: #363636;
  padding: 30px 20px 20px 60px;
  color: white;
  border-radius: 11px;
  box-shadow: 0 13px 64px 0 rgba(0,0,0,0.38);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */
}

.flex-container {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  width: 35%;
}

.departure {
  background: #696969;
  box-shadow: 0 4px 12px 0 rgba(0,0,0,0.15);
  border-radius: 28.5px;
  margin-bottom: 20px;
  margin-left: -15px;
  border-radius: 90px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  padding-right: 25px;

  display: flex;
  flex-direction: row;
}

.to {
  color: white;
  font-family: 'os';
  font-size: 16px;
}

.carriages {
  color: white;
  opacity: 0.9;
  font-family: 'os';
  font-size: 16px;
  margin-left: 18px;
  letter-spacing: 8px;
}

.estDepTime {
  color: #6BD5D7;
  font-family: 'os';
  font-size: 16px;
  margin-right: 16px;
}

.depTime {
  color: white;
  font-family: 'os';
  font-size: 16px;
}

h1 {
  font-size: 23px;
}



.flex-container-2 {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 10px;
  right: 20px;
  height: 97%;
}

.infoDisplay {
  display: flex;
  flex-direction: row; 
  padding-right: 10px;
}

.infoDisplay h1 {
  font-family: 'os';
  float: right;
  padding-right: 15px;
}

#strava {
  position: absolute;
  width: 50%;
  height: 23%;
  bottom: 60px;
  right: 70px;
  
  background: #0F0F0F;
  box-shadow: 0 3px 15px 0 rgba(0,0,0,0.38);
  border-radius: 10px;

  padding-left: 50px;
}

#strava > h3 {
  margin-top: 40px;
  font-family: 'OpenSansBold';
  font-size: 30px;
}

.distance {
  height: 11px;
  margin-top: -55px;
  margin-left: 130px;
}

.distance > p {
  margin-top: 20px;
  font-family: 'OpenSansBold';
  font-size: 15px;
  float: right;
  margin-right: -45px;
  margin-top: -4px;
}

#currency {
  position: absolute;
  width: 50%;
  height: 23%;
  bottom: 290px;
  right: 70px;
 
  background: linear-gradient(45deg,#F17C58, #E94584, #24AADB , #27DBB1,#FFDC18, #FF3706);
  background-size: 600% 100%;
  animation: gradient 16s linear infinite;
  animation-direction: alternate;

  box-shadow: 0 3px 15px 0 rgba(0,0,0,0.38);
  border-radius: 10px;
  padding-left: 50px; 
}

#currency > #exchangeRate {
  text-align: center;
  font-family: 'OpenSansBold';
  font-size: 75px;
  margin-top: 42px;
}

#bitcoin {
  position: absolute;
  width: 250px;
  height: 90px;
  bottom: 510px;
  right: 70px;
 
  background: linear-gradient(45deg,#FBB409, #F82640,#FBB409, #F82640);
  background-size: 600% 100%;
  animation: gradient 16s linear infinite;
  animation-direction: alternate;

  box-shadow: 0 3px 15px 0 rgba(0,0,0,0.38);
  border-radius: 10px;
  padding-left: 0px; 
}

#bitcoin_price {
  text-align: center;
  font-family: 'OpenSansBold';
  font-size: 30px;
  margin-top: 22px;
}


#eth {
  position: absolute;
  width: 250px;
  height: 90px;
  bottom: 510px;
  right: 350px;
 
  background: linear-gradient(45deg, #265291, #265291, #888888);
  background-size: 600% 100%;
  animation: gradient 16s linear infinite;
  animation-direction: alternate;

  box-shadow: 0 3px 15px 0 rgba(0,0,0,0.38);
  border-radius: 10px;
  padding-left: 0px; 
}

#eth_price {
  text-align: center;
  font-family: 'OpenSansBold';
  font-size: 30px;
  margin-top: 22px;
}



@keyframes gradient {
  0% {background-position: 0%}
  100% {background-position: 100%}
}

@font-face {
  font-family: 'OpenSansLight';
  src: url('../fonts/OpenSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSansBold';
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'os';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}
